h1{
    color:blue;
}
body{
    color: #33333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#para1{
    color : black
}
ul
{ 
overflow-x:hidden;
white-space:nowrap; 
height: 1em;
width: 100%;
} 
ul li {
    display: inline;
    padding: 5px;
}